{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"href="{% static 'css/base_css.css' %}">
    <link rel="stylesheet"href="{% static 'css/bootstrap.min.css' %}">
    <title>CLOTHES SIZE DITECTOR</title>
    <style>
        .errorlist{
            display: none;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        {%block content%} {%endblock%}
      </div>


      
<div class="bg-image" 
      style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
            height: 100vh">
 </div>

	<div class="bg-image">
  	<style>
			background-image:img src="{% static 'images/shirrrtt.jpg' %}" class="card-img-top" alt="...">
		</style>
	</div>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>


