{% extends 'base.html'%}
{% load static%}
{%block content%}

<p> HELLO WELCOME TO JOSEPHINE'S CLOTHES SIZE INDICATOR TOOL </p>
<h5>FEMALE</h5>
<div1>
  <h5>CHEST TAKING&nbsp &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp &nbsp  &nbsp  &nbsp  &nbsp  &nbsp &nbsp  &nbsp  &nbsp  &nbsp  &nbsp &nbsp  &nbsp   &nbsp  &nbsp  &nbsp  &nbsp &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp &nbsp  &nbsp  &nbsp  &nbsp  &nbsp &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp &nbsp  &nbsp   WAIST TAKING &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp &nbsp  &nbsp  HIPS TAKING </h5>
	<img src="{% static 'images/chest.jpg' %}"height="200px",width="100px" > 
	<img src="{% static 'images/lady_waist.jpg' %}"height="200px",width="100px" >
	<img src="{% static 'images/hips1.jpg' %}" height="200px",width="100px"><br>
	<h5>MALE</h5>
</div1>
<div1>
  <h5>CHEST TAKING&nbsp &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp &nbsp  &nbsp  &nbsp  &nbsp  &nbsp &nbsp  &nbsp  &nbsp  &nbsp  &nbsp &nbsp  &nbsp   &nbsp  &nbsp  &nbsp  &nbsp &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp &nbsp  &nbsp  &nbsp  &nbsp  &nbsp &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp &nbsp  &nbsp   WAIST TAKING &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp &nbsp  &nbsp  HIPS TAKING </h5>
	<img src="{% static 'images/chestt.jpg' %}"height="200px",width="100px" >  
	<img src="{% static 'images/waistt.jpg' %}"height="200px",width="100px" >
	<img src="{% static 'images/hipss1.jpg' %}"height="200px",width="100px" >
</div1>
{%endblock%}
