{% extends 'base.html'%}
{% load static%}
{%block content%}

<div class="container px-4" style="margin-top: 20px;">
  <h6 style="margin-bottom: 20px;">FEMALE MEASUREMENT TAKING ILLUSTRAION</h6>

  <div class="row gx-5">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'images/chest.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">CHEST</h5>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'images/hips1.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">HIPS</h5>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'images/lady_waist.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">WAIST</h5>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container px-4" style="margin-top: 20px;">
  <h6 style="margin-bottom: 20px;">MALE MEASUREMENT TAKING ILLUSTRAION</h6>

  <div class="row gx-5">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'images/chestt.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">CHEST</h5>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'images/hipss1.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">HIPS</h5>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'images/chestt.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">WAIST</h5>
        </div>
      </div>
    </div>
    
  </div>
</div>
{%endblock%}  
